.mainTest{
  border: 1px solid black;
}

.test1{
  background-color: lightblue;
}

.test2{
  background-color: lightyellow;
}

.test3{
  background-color: lightgreen;
}

.col{
  background-color: aqua;
}